@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

header {
  position: relative;
}

.header__heading {
  max-width: 35rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto 0 auto;
  align-items: center;
}

.header__svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.search {
  text-align: center;
  padding: 2rem 3rem 5rem 3rem;
}

.logo__img {
  padding-top: 3rem;
  max-width: 100%;
}

header h2 {
  font-family: 'Patrick Hand', cursive;
  font-size: 2.5rem;
  padding-bottom: 4rem;
  letter-spacing: 0.15rem;
  color: #26a0b6;
  text-align: center;
}

.character {
  background-color: #24282f;
  padding: 4rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 3rem;
  row-gap: 2rem;
}
