@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 2rem;
}

header {
  text-align: center;
}

.search {
  text-align: center;
}

.logo__img {
  max-width: 80%;
}

.headline__h2 {
  font-family: 'Patrick Hand', cursive;
  margin-top: -1rem;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  letter-spacing: 0.15rem;
  color: #26a0b6;
}

.character {
  background-color: #24282f;
  padding: 4rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 3rem;
  row-gap: 2rem;
  margin-top: 4rem;
}
